<div class="background"></div>
<div class="content">
<h2 class="headline">Weather Information</h2>
<div class="input-align">
    <input type="text" [(ngModel)]="cityName" class="input-field" placeholder="Enter city name....">
  </div>
  <div>
    <button class="btn-align" (click)="getWeather()">Get Weather</button>
    <button *ngIf="show" class="clear" (click)="clearData()">Clear</button>
  </div>
  </div>

  <div *ngIf="show" class="details-align col-md-12 d-flex">
    <div class="col-md-6">
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">City</label>
      <p class="para">{{ weather.name }} </p>
    </div>
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">Temperature</label>
      <p class="para">{{ weather.main.temp }}°C</p>
    </div>
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">Speed</label>
      <p class="para">{{ weather.wind.speed}} km/h</p>
    </div>
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">Air Pressure</label>
      <p class="para">{{ weather.main.pressure}} hPa</p>
    </div>
  </div>
  <div class="col-md-6 right-align">
    <div class="weather-content">
      <label class="label-align" *ngIf="!!weatherObj">Weather</label>
      <p class="para">{{weatherObj}}</p>
    </div>
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">Humidity</label>
      <p class="para">{{ weather.main.humidity}}%</p>
    </div>
    <div class="weather-content">
      <label class="label-align" *ngIf="weather.main">Feels like</label>
      <p class="para">{{ weather.main.feels_like }}°C</p>
    </div>
  </div>
  </div>

  
